<!DOCTYPE>
<html data-ng-app="">

<head>
    <title>
        My first Repeat
    </title>
</head>

<body>
    <div class="container" data-ng-init="entries=['Alan','Josh','Daniela']">
        <div class="row">
        Name:
        <input type="text" data-ng-model="name" /> {{ name }}
        </div>
        <div class="row">
            <ul>
                <li data-ng-repeat="entry in entries">{{entry}}</li>
            </ul>
        </div>
    </div>
    
    <script src="node_modules/angular/angular.min.js" ></script>
</body>

</html>